@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
:root {
  font-family: "Freeman", sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
